@page "/"

@if (_accounts.Count == 0)
{
    <p>Loading...</p>
}
else
{
    <div id="grid">
        <div id="grid-accounts">
            @foreach (var item in _accounts)
            {
                var isSelected = _selectedAccountKey == item.Key;
                <div class="card mb-3 @(isSelected ? "text-bg-success" : "")" @onclick="() => SelectAccount(item.Key)">
                    <div class="card-body">
                        @item.Value.Name
                    </div>
                </div>
            }
        </div>
        <div id="grid-form">
            <div class="d-flex mb-3">
                <div class="flex-grow-1">@_statusMessage</div>
                <button type="button" class="btn btn-success ms-3" @onclick="PasteCredentials">Paste</button>
                <button type="submit" class="btn btn-success ms-3" @onclick="SaveAccounts" disabled="@(!_saveEnabled)">Save</button>
            </div>
            @foreach (var property in _selectedAccount!.Properties)
            {
                <div class="mb-3">
                    <label for="@property.Key" class="form-label">@property.Key</label>
                    <input id="@property.Key" class="form-control" value="@property.Value" @onchange="e => ChangeProperty(property.Key, (string)e.Value!)" />
                </div>
            }
        </div>
    </div>
}
