@page "/"

@if (_accounts.Count == 0)
{
    <p>Loading...</p>
}
else
{
    <div id="grid">
        <div id="grid-accounts">
            @foreach (var item in _accounts)
            {
                var isSelected = _selectedAccountKey == item.Key;
                <div class="ui-card @(isSelected ? "ui-card-selected" : "")" @onclick="() => SelectAccount(item.Key)">
                    @item.Value.Name
                </div>
            }
        </div>
        <div id="grid-details">
            <div id="grid-toolbar">
                <div class="d-flex">
                    <div id="status-message" class="flex-grow-1">@_statusMessage</div>
                    <button type="button" class="btn ms-3" @onclick="PasteCredentials">Paste</button>
                    <button type="submit" class="btn ms-3" @onclick="SaveAccounts" disabled="@(!_saveEnabled)">Save</button>
                </div>
            </div>
            @foreach (var property in _selectedAccount!.Properties)
            {
                <div class="account-property ui-card">
                    <label for="@property.Key" class="form-label">@property.Key</label>
                    <input id="@property.Key" class="form-control" value="@property.Value" @onchange="e => ChangeProperty(property.Key, (string) e.Value!)"/>
                </div>
            }
        </div>
    </div>
}
